<?xml version="1.0"?>
<launch>

  <node pkg="ilcc2" type="calib_lidar_cam" name="calib_lidar_cam" output="screen">

    <param name="bag_num"  value= "5" />

    <param name="camera_name"  value= "fisheye" />

    <param name="yaml_path"  value= "fisheye.yaml" />

    <param name="pose_file"  value= "fisheye.bin" />


  </node>


</launch>

